# Python 3.12
torch==2.7.1
torch-geometric==2.6.1
umap-learn==0.5.9.post2
numpy==1.26.4
pandas==2.2.3
imbalanced-learn>=0.13.0
scikit-learn>=1.6.0
matplotlib>=3.8.0
fastapi>=0.110.0
pydantic>=2.9.0
requests>=2.32.0
uvicorn>=0.20.0
flwr==1.19.0
captum==0.8.0
vercel-blob==0.4.2